/* Variables */
:root {
  --primary-color: #68f8f0;
  --secondary-color: #000000;
  --dark-color: #180818;
  --white-color: #ffffff;
  --primary-gradient-color: linear-gradient(
    to right bottom,
    #68f8f0,
    #64f8f0,
    #61f9f0,
    #5df9f0,
    #59f9f0,
    #5ef9f1,
    #62faf1,
    #66faf2,
    #72fbf3,
    #7cfcf5,
    #86fdf6,
    #8ffef7
  );
  --secondary-gradient-color: linear-gradient(
    to right bottom,
    #000000,
    #060606,
    #0c0c0c,
    #111111,
    #151515,
    #181818,
    #1b1b1b,
    #1e1e1e,
    #212121,
    #232323,
    #262626,
    #292929
  );
  --content-width: 112rem;
}

/* General Styles */
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--secondary-color);
}

/* Body grid template */
.body-index {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Animations */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.h1 {
  font-size: 8rem;
  font-weight: 800;
}

.h2 {
  font-size: 5rem;
  font-weight: 700;
  /* For left line */
  position: relative;
}

.h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.h4 {
  font-size: 2rem;
  font-weight: 600;
}

.h5 {
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.h6 {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.h5,
button {
  color: var(--primary-color);
}

.content-width {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: 2px solid var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2.7rem 3rem;
  text-transform: uppercase;
  border-radius: 0%;
}

.button:hover {
  background: var(--primary-gradient-color);
  color: var(--secondary-color);
}

.left-line::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 6rem;
  height: 3px;
  top: 50%;
  left: 0;
}

.bottom-line::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 20%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
}

.active-link {
  border: 2px solid var(--primary-color);
}

.logo {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.h1,
.h2,
.h3,
.logo,
.nav__link,
.card,
.table,
.form,
.footer {
  color: var(--white-color);
}

/* ==========================================================================
   Header section
   ========================================================================== */
.header {
  margin: 4rem 7.6rem;
}

/* Navigation section
   ========================================================================== */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.nav__list {
  display: flex;
  list-style-type: none;
  list-style-position: outside;
}
.nav__link {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem 1.4rem;
}
.nav__link:hover {
  border-bottom: 2px solid var(--primary-color);
}

/* ==========================================================================
   Main section
   ========================================================================== */
.main--home {
  /* Background image position was being affected by hero padding */
  background-origin: padding-box;
  background-image: url(../images/flamingo-large.png);
  background-repeat: no-repeat;
  background-position: 50% -420%;
  background-size: 130%;
}

/* Hero section
   ========================================================================== */
.hero {
  padding-top: 3.7rem;
  /* Home Modifier */
  /* Services Modifier */
  /* Works Modifier */
  /* Blog Modifier */
}
.hero__title--home {
  width: 80%;
  margin-top: 3.8rem;
}
.hero__button--home {
  margin-top: 6.5rem;
}
.hero__title--services.left-line {
  padding-left: 8rem;
}
.hero__slogan--services {
  margin-top: 2rem;
}
.hero__title--works.left-line {
  padding-left: 8rem;
}
.hero__slogan--works {
  margin-top: 2rem;
}
.hero__title--blog.left-line {
  padding-left: 8rem;
}
.hero__slogan--blog {
  margin-top: 2rem;
}

/* Home Modifier */
.hero--home {
  padding-top: 8.7rem;
}

/* Cards Section
   ========================================================================== */
.cards-container {
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cards-container:hover .card {
  opacity: 0.3;
}

.cards-container .card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.09);
  opacity: 1;
}

.card {
  padding: 5rem 4rem;
  animation: gradient 6s ease-in-out infinite;
  background: var(--secondary-gradient-color);
  background-size: 400% 400%;
  /* Hover border was affecting other elements position */
}
.card__title {
  padding-bottom: 2rem;
  margin-top: 5.5rem;
  position: relative;
}
.card__description {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  width: 80%;
}

/* Home modifier */
.cards-container--home {
  margin-top: 19rem;
}

.card--home {
  border: 2px solid transparent;
}

.card--home:hover {
  border: 2px solid var(--primary-color);
}

/* Services modifier */
.cards-container--services {
  margin-top: 6rem;
  row-gap: 1.5rem;
}

.card--services {
  border-bottom: solid 5px var(--white-color);
}

.cards-container .card--services:hover {
  background: var(--primary-gradient-color);
  color: var(--secondary-color);
}

.cards-container .card--services:hover .card__title.h3 {
  color: var(--secondary-color);
}

.cards-container .card--services:hover .card__icon {
  filter: grayscale(1) invert(1);
}

/* About Modifier */
.cards-container--about {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 6rem;
}
.cards-container--about .card--about:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
  opacity: 1;
}

.card--about {
  min-height: 325px;
  background: white;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card--about__title, .card--about__description {
  padding-left: 4rem;
  margin-bottom: 1.3rem;
  color: var(--white-color);
  letter-spacing: -0.4px;
  text-shadow: 0px 0px 20px var(--dark-color);
}
.card--about__title {
  font-weight: 700;
}
.card--about__description {
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

/* Team Work Card */
.card--about:nth-child(1) {
  grid-row: 1/-1;
  grid-column: 1/2;
  background-image: url("../images/team-work.jpg");
}

/* Philosophy Card */
.card--about:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2;
  background-image: url("../images/philosophy.jpg");
}

/* Office Card */
.card--about:nth-child(3) {
  grid-row: 2/-1;
  grid-column: 2;
  background-image: url("../images/office.jpg");
}

/* ==========================================================================
   Table
   ========================================================================== */
.table {
  margin-top: 5rem;
  width: 100%;
}
.table__header {
  text-align: start;
}
.table__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.table__cell {
  font-size: 1.6rem;
  padding-top: 2rem;
  line-height: 1.7;
}
.table__cell:nth-child(1) {
  width: 15%;
}
.table__cell:nth-child(2) {
  width: 15%;
  color: var(--primary-color);
  font-weight: 500;
}
.table__cell:nth-child(3) {
  width: 50%;
}
.table__cell:nth-child(4) {
  width: 20%;
}

/* ==========================================================================
   Slider
   ========================================================================== */
.slider {
  position: relative;
  width: 100%;
  height: 30vw;
  margin: 6rem auto;
  perspective: 1400px;
  transform-style: preserve-3d;
  /* Slide styles */
  /* Virtual Reality */
  /* Future Cities */
  /* Gift Ideas */
  /* 3D Printer */
  /* Dron Pictures */
}
.slider__control[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 1.5rem 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}
.slider__control[type=radio]:nth-child(5) {
  margin-right: 0;
}
.slider__control[type=radio]:checked {
  opacity: 1;
}
.slider__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 400ms ease;
  text-shadow: 0px 0px 2rem var(--dark-color);
  font-size: 3rem;
  padding-bottom: 3rem;
}
.slider__text:nth-of-type(n) {
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__text:nth-of-type(1) {
  background-image: url(../images/virtual-reality.jpg);
}
.slider__text:nth-of-type(2) {
  background-image: url(../images/future-city.jpg);
}
.slider__text:nth-of-type(3) {
  background-image: url(../images/gift-ideas.jpg);
}
.slider__text:nth-of-type(4) {
  background-image: url(../images/3d-printer.jpg);
}
.slider__text:nth-of-type(5) {
  background-image: url(../images/dron-pictures.jpg);
}

/* Slider Features */
/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 35% 1fr;
  width: 100%;
}
.footer__slogan {
  margin-top: 2rem;
  padding-bottom: 3.5rem;
  position: relative;
}
.footer__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}
.footer__list {
  display: grid;
  row-gap: 2rem;
}
.footer__item:first-child {
  margin-top: 3rem;
}
.footer__item {
  display: flex;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
