/* Variables */
:root {
    --primary-color: #68f8f0;
    --secondary-color: #000000;
    --dark-color: #180818;
    --white-color: #ffffff;
    --primary-gradient-color: linear-gradient(
      to right bottom,
      #68f8f0,
      #64f8f0,
      #61f9f0,
      #5df9f0,
      #59f9f0,
      #5ef9f1,
      #62faf1,
      #66faf2,
      #72fbf3,
      #7cfcf5,
      #86fdf6,
      #8ffef7
    );
    --secondary-gradient-color: linear-gradient(
      to right bottom,
      #000000,
      #060606,
      #0c0c0c,
      #111111,
      #151515,
      #181818,
      #1b1b1b,
      #1e1e1e,
      #212121,
      #232323,
      #262626,
      #292929
    );
    --content-width: 112rem;
  }
  
  /* General Styles */
  * {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background: var(--secondary-color);
  }
  
  /* Body grid template */
  .body-index {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
  }
  
  /* Animations */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .h1 {
    font-size: 8rem;
    font-weight: 800;
  }
  
  .h2 {
    font-size: 5rem;
    font-weight: 700;
    /* For left line */
    position: relative;
  }
  
  .h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .h4 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .h5 {
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  
  .h6 {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  
  .h5,
  button {
    color: var(--primary-color);
  }
  
  .content-width {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
  
  .button {
    border: 2px solid var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2.7rem 3rem;
    text-transform: uppercase;
    border-radius: 0%;
  }
  
  .button:hover {
    background: var(--primary-gradient-color);
    color: var(--secondary-color);
  }
  
  .left-line::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 6rem;
    height: 3px;
    top: 50%;
    left: 0;
  }
  
  .bottom-line::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 20%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
  }
  
  .active-link {
    border: 2px solid var(--primary-color);
  }
  
  .logo {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .h1,
  .h2,
  .h3,
  .logo,
  .nav__link,
  .card,
  .table,
  .form,
  .footer {
    color: var(--white-color);
  }
  
  /* ==========================================================================
     Header section
     ========================================================================== */
  .header {
    margin: 4rem 7.6rem;
  }
  
  /* Navigation section
     ========================================================================== */
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;

    .label-hamburguer {
      display: none;
    }

    &__list {
      display: flex;
      list-style-type: none;
      list-style-position: outside;
    }

    &__link {
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      padding: 1rem 1.4rem;
    }

    &__link:hover {
      border-bottom: 2px solid var(--primary-color);
    }
  }
  
  /* ==========================================================================
     Main section
     ========================================================================== */
  .main--home {
    /* Background image position was being affected by hero padding */
    background-origin: padding-box;
    background-image: url(../images/flamingo-large.png);
    background-repeat: no-repeat;
    background-position: 50% -500%;
    background-size: 130%;
  }
  
  /* Hero section
     ========================================================================== */
  .hero {
    padding-top: 3.7rem;

    /* Home Modifier */
    &__title--home {
      width: 80%;
      margin-top: 3.8rem;
    }

    &__button--home {
      margin-top: 6.5rem;
    }

    /* Services Modifier */
    &__title--services.left-line {
      padding-left: 8rem;
    }

    &__slogan--services {
      margin-top: 2rem;
    }

    /* Works Modifier */
    &__title--works.left-line {
      padding-left: 8rem;
    }

    &__slogan--works {
      margin-top: 2rem;
    }

    /* About Modifier */
    &__title--about.left-line {
      padding-left: 8rem;
    }

    &__slogan--about {
      margin-top: 2rem;
    }

    /* Blog Modifier */
    &__title--blog.left-line {
      padding-left: 8rem;
    }

    &__slogan--blog {
      margin-top: 2rem;
    }

    /* Contact Modifier */
    &__button {
      margin-top: 4rem;
    }
  }

  /* Home Modifier */
  .hero--home {
    padding-top: 8.7rem;
  }

  /* Contact Modifier */
  .hero--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* Cards Section
     ========================================================================== */
  .cards-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  
  .cards-container:hover .card {
    opacity: 0.3;
  }
  
  .cards-container .card:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.09);
    opacity: 1;
  }
  
  .card {
    padding: 5rem 4rem;
    animation: gradient 6s ease-in-out infinite;
    background: var(--secondary-gradient-color);
    background-size: 400% 400%;
    /* Hover border was affecting other elements position */

    &__title {
      padding-bottom: 2rem;
      margin-top: 5.5rem;
      position: relative;
    }

    &__description {
      line-height: 2;
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 2rem;
      width: 80%;
    }
  }
  
  /* Home modifier */
  .cards-container--home {
    margin-top: 18rem;
  }
  
  .card--home {
    border: 2px solid transparent;
  }
  
  .card--home:hover {
    border: 2px solid var(--primary-color);
  }
  
  /* Services modifier */
  .cards-container--services {
    margin-top: 6rem;
  }
  
  .card--services {
    border-bottom: solid 5px var(--white-color);
  }
  
  .cards-container .card--services:hover {
    background: var(--primary-gradient-color);
    color: var(--secondary-color);
  }
  
  .cards-container .card--services:hover .card__title.h3 {
    color: var(--secondary-color);
  }
  
  .cards-container .card--services:hover .card__icon {
    filter: grayscale(1) invert(1);
  }

  /* About Modifier */
  .cards-container--about {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 6rem;

    .card--about {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card--about:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.05);
      opacity: 1;
    }
  }

  .card--about {
    min-height: 325px;
    background: white;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &__title, 
    &__description {
      padding-left: 4rem;
      margin-bottom: 1.3rem;
      color: var(--white-color);
      letter-spacing: -0.4px;
      text-shadow: 0px 0px 20px var(--dark-color);
    }

    &__title {
      font-weight: 700;
    }

    &__description {
      font-weight: 500;
      font-size: 1.6rem;
      padding-bottom: 2rem;
    }
  }

  /* Team Work Card */
  .card--about:nth-child(1) {
    grid-row: 1/-1;
    grid-column: 1/2;
    background-image: url("../images/team-work.jpg");
  }

  /* Philosophy Card */
  .card--about:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2;
    background-image: url("../images/philosophy.jpg");
  }

  /* Office Card */
  .card--about:nth-child(3) {
    grid-row: 2/-1;
    grid-column: 2;
    background-image: url("../images/office.jpg");
  }

  /* ==========================================================================
     Table
     ========================================================================== */
  .table {
    margin-top: 5rem;
    width: 100%;

    &__header {
      text-align: start;
    }

    &__image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__cell {
      font-size: 1.6rem;
      padding: 2rem 2rem 0 0;
      line-height: 1.7;

    }

    &__cell:nth-child(1) {
      width: 15%;
    }

    &__cell:nth-child(2) {
      width: 15%;
      color: var(--primary-color);
      font-weight: 500;
    }

    &__cell:nth-child(3) {
      width: 50%;
    }

    &__cell:nth-child(4) {
      width: 20%;
    }
  }

  /* ==========================================================================
     Slider
     ========================================================================== */

  .slider {
    position: relative;
    width: 80%;
    height: 35vw;
    margin: 6rem auto;
    perspective: 1400px;
    transform-style: preserve-3d;

    &__control[type=radio] {
      position: relative;
      top: 108%;
      left: 50%;
      width: 1.8rem;
      height: 1.8rem;
      margin: 0 1.5rem 0 0;
      opacity: 0.4;
      transform: translateX(-83px);
      cursor: pointer;
    }

    &__control[type=radio]:nth-child(5) {
      margin-right: 0;
    }

    &__control[type=radio]:checked {
      opacity: 1;
    }

    &__text {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transition: transform 400ms ease;
      text-shadow: 0px 0px 2.0rem var(--dark-color);
      font-size: 3rem;
      padding-bottom: 3rem;
    }

    /* Slide styles */
    &__text:nth-of-type(n) {
      background-size: cover;
      background-repeat: no-repeat;
    }

    /* Virtual Reality */
    &__text:nth-of-type(1) {
      background-image: url(../images/virtual-reality.jpg);
    }

    /* Future Cities */
    &__text:nth-of-type(2) {
      background-image: url(../images/future-city.jpg);
    }

    /* Gift Ideas */
    &__text:nth-of-type(3) {
      background-image: url(../images/gift-ideas.jpg);
    }

    /* 3D Printer */
    &__text:nth-of-type(4) {
      background-image: url(../images/3d-printer.jpg);
    }

    /* Dron Pictures */
    &__text:nth-of-type(5) {
      background-image: url(../images/dron-pictures.jpg);
    }
  }
  
  /* Slider Features */
  
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  
  /* ==========================================================================
     Form
     ========================================================================== */
  .form {
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;
    margin-top: 2rem;

    &__label {
      margin-top: 3rem;
    }

    &__input,
    &__select {
      background: transparent;
      border: 2px solid var(--primary-color);
      font-size: 2rem;
      color: var(--white-color);
      margin-top: 1.5rem;
      padding: 1.5rem;
    }

    &__input[type='checkbox']:checked {
      background-color: var(--primary-color);
      box-shadow: inset 0 0 0 5px var(--secondary-color);
    }

    &__input[type='checkbox']{
      width: 15px !important;
      height: 15px !important;
      appearance:none;
      border-radius: 0%;
      border: 2px solid var(--primary-color);
      font-size: 1em;
      margin-top: 0;
      margin-right: 1.5rem;
    }

    &__select {
      background: url(https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png) no-repeat right ;
      appearance: none;
      background-size: 25px 25px !important;
      background-position: 99% 50% !important;
    }

    &__input:focus-visible,
    &__select:focus-visible {
      border: 3px solid var(--primary-color);
      outline: transparent;
    }

    &__select &__option {
      color: var(--secondary-color);
      background-color: var(--primary-color);
    }

    &__group {
      margin-top: 4rem;
    }

    &__group:nth-of-type(1) {
      display: flex;
      align-items: center;
    }

    &__group:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }

    &__button {
      width: 47%;
    }

    &__button[type='submit'] {
      background: var(--primary-gradient-color);
      color: var(--secondary-color);
    }

  }

/* ==========================================================================
   Scrollbar
   ========================================================================== */
  body ::-webkit-scrollbar {
    height: 0.5rem;
  }
   
  body ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }


  /* ==========================================================================
     Footer
     ========================================================================== */
  .footer {
    margin-top: 15rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 35% repeat(3, 1fr);
    width: 100%;

    .company-info {
      grid-column: 1/2;
    }

    .contact-section {
      grid-column: 2/3;
    }

    .services-section {
      grid-column: 3/4;
    }

    .about-section {
      grid-column: 4/5;
    }

    &__slogan {
      margin-top: 2rem;
      padding-bottom: 3.5rem;
      position: relative;
    }

    &__lists {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: end;
    }

    &__list {
      display: grid;
      row-gap: 2rem;
    }

    &__item:first-child {
      margin-top: 3rem;
    }

    &__item {
      display: flex;
      font-size: 1.5rem;
    }
  }

  /* Responsive Design */
  @media (max-width: 1366px) {
    :root {
      --content-width: 80vw;
    }

    .main--home {
      background-position: right top;
      background-attachment: fixed;
      background-size: 100%;
    }

    .slider{
      height: 40vw;
    }
  }

  @media (max-width: 1200px) {
    .header {
      margin: 4vw 5vw;
    }

    .hamburguer {
      display: inline-block;
    }

    .table {
  
      &__cell:nth-child(3) {
        width: 45%;
      }
  
      &__cell:nth-child(4) {
        width: 25%;
      }
    }

    .form {
      grid-template-columns: 55%;
    }

    .hero--home {
      padding-top: 5vw;
    }

    .cards-container--home {
      margin-top: 11rem;
    }

    .card__description {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    .nav .label-hamburguer {
      display: block;
    }

    #checkbox-hamburguer:checked ~ .nav__list {
      left: 0%;
    }

    .nav__list {
      position: absolute;
      left: -100%;
      top: 16vh;
      text-align: left;
      display: grid;
      grid-template-rows: repeat(auto-fill, 5rem);
      row-gap: 3rem;
      background: var(--secondary-color);
      z-index: 2;
      transition: all .5s;
      padding-left: calc(5vw - 1.4rem);
      width: 100%;
      height: 100vh;
    }

    .nav__link {
      padding-right: 80vw;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.9rem;
    }

    .nav__link:hover {
      color: var(--primary-color);
      border-bottom: 2px solid transparent;
    }

    .active-link {
      border: 2px solid transparent;
      color: var(--primary-color);
    }

    .hero__title--home {
      width: 100%;
    }

    .cards-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .cards-container--home {
      margin-top: 8rem;
    }
      
    .slider__text {
      padding: 1.5rem 2rem;
    }

    .form {
      grid-template-columns: 65%;
    }

    .hero__title--contact {
      text-align: center;
    }

    .table__image {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
    }

    .slider {
      height: 50vw;
    }

    .footer {
      margin-top: 8rem;
      grid-template-columns: 35% repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 3rem;

      .about-section {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .contact-section,
      .services-section {
        margin: auto;
      }
    }

  }
  @media (max-width: 768px) {
    .nav__list {
      top: 14vh;
    }

    .h1 {
      font-size: 6.5rem;
    }
    
    .h2 {
      font-size: 4rem;
    }
    
    .h3 {
      font-size: 2rem;
    }
  
    .h4 {
      font-size: 1.8rem;
    }
    
    .table-container {
      overflow-x: auto;
    }
    
    .table {
      overflow-x: auto;
      
      &__cell:nth-child(1) {
        min-width: 20vw;
      }
  
      &__cell:nth-child(2) {
        min-width: 20vw;
      }

      &__cell:nth-child(3) {
        min-width: 43vw;
      }
  
      &__cell:nth-child(4) {
        min-width: 25vw;
      }
    }

    /* Team Work Card */
    .card--about:nth-child(1) {
      background-position-x: 35%;
    }

    .card--about:nth-child(2) {
      background-position-x: 35%;
    }

    .hero__button--home {
      margin-top: 4rem;
    }

    .hero--home {
      text-align: center;
    }

    .main--home {
      background-position: right top;
      background-attachment: fixed;
      background-size: 130%;
    }

    .form {
      grid-template-columns: 75%;
    }

    .slider__text.h2 {
      font-size: 2.5rem;
    }

    .form__group:last-of-type {
      flex-direction: column-reverse;
    }
    
    .form__group:last-of-type .form__button {
      width: 100%;
      margin-bottom: 2rem;
    }

    .footer {
      grid-template-columns: 70% 30%;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5rem;

      .services-section {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .about-section {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      .services-section {
        margin: 0;
      }

      .contact-section,
      .about-section {
        margin: 0 auto 0 0;
      }
    }
  }

  @media (max-width: 600px) {
    .nav__list {
      top: 12vh;
    }

    :root {
      --content-width: 90vw;
    }

    .h1 {
      font-size: 4.5rem;
    }

    .left-line::before {
      width: 4rem;
    }

    .hero {
      .hero__title--home,
      .hero__title--services,
      .hero__title--works,
      .hero__title--about,
      .hero__title--blog,
      .hero__title--contact {
        padding-left: 6rem;
      }
    }
    
    .hero__title--home {
      width: 95%;
    }
    
    .main--home {
      background-position: center top;
      background-attachment: fixed;
      background-size: cover;
    }

    .cards-container {
      grid-template-columns: 90%;
      justify-content: center;
      justify-items: center;
      margin-top: 4.5rem;
    }

    .cards-container--services {
      grid-template-columns: 100%;
    }

    .cards-container--about {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-top: 4rem;
    }
    
    .card--home {
      padding: 3rem;
      max-width: 370px;
    }

    .card__title {
      margin-top: 3rem;
    }

    /* Team Work Card */
    .card--about:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1;
      background-position-y: 24%;
    }

    /* Philosophy Card */
    .card--about:nth-child(2) {
      grid-row: 2/3;
      grid-column: 1;
    }

    /* Office Card */
    .card--about:nth-child(3) {
      grid-row: 3/4;
      grid-column: 1;
    }
    
    .table {  
      &__cell:nth-child(1) {
        min-width: 15vw;
      }
      
      &__cell:nth-child(2) {
        min-width: 15vw;
      }
      
      &__cell:nth-child(3) {
        min-width: 70vw;
      }
      
      &__cell:nth-child(4) {
        min-width: 45vw;
      }
    }

    .slider {
      width: 75%;
      margin-top: 4rem;
    }

    .slider__text.h2 {
      font-size: 1.6rem;
    }

    .form {
      grid-template-columns: 90%;
    }

    .form__group:last-of-type {
      flex-direction: column-reverse;
    }
    
    .form__group:last-of-type .form__button {
      width: 100%;
      margin-bottom: 2rem;
    }

    .footer {
      margin-top: 4rem;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
      justify-content: center;
      align-items: flex-end;

      .company-info {
        grid-column: 1/3;
      }

      .contact-section {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      
      .services-section {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      .about-section {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      .services-section {
        margin: 0 0 0 auto;
      }
    }
  }